{%include 'base.html'%}
{%include 'navigation.html'%}

{%block content%}
<div class="container text-center">
    <h1 class="mt-3 wow animate__animated animate__fadeIn">About Us</h1>
    <div class="row">
        <div class="col-md-6 wow animate__animated animate__fadeInLeft">
            <h1 class="p-3 strong mt-3 wow animate__animated animate__fadeInUp">What we are and <br> What we do </h1><hr>
        </div>
        <div class="col-md-6 wow animate__animated animate__fadeInRight">
            <p>Welcome to William hospital, where compassionate care meets cutting-edge medicine. Our dedicated team of healthcare professionals is committed to providing exceptional medical services with a focus on patient well-being. </p>
            <p>Discover a healing environment that prioritizes your health and comfort, supported by state-of-the-art facilities and a legacy of excellence in healthcare. At our hospital, we strive to make a positive impact on the lives we touch, fostering a community of health and wellness.</p>
        </div>
    </div>
</div>

{%endblock content%}
{%include 'footer.html'%}

