{%include 'base.html'%}
{%include 'navigation.html'%}


{%block content%}

<div class=" mb-5 p-5 pt-0">
    <h2 class="text-center text-info">View Doctor</h2>
    <table border="1" id="example" class="table mx-auto table-hover mb-5 p-5 pt-0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Mobile</th>
                <th>Special</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
    
            {%for i in doc%}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.name}}</td>
                <td>{{i.mobile}}</td>
                <td>{{i.special}}</td>
                <td><a href="/delete_doctor/{{i.id}}" onclick="return confirm('Are you sure you want to delete ?')"><input type="submit" class="btn btn-danger button-lg rounded" value="Delete"></a></td>
            </tr>

            {%endfor%}
        </tbody>
    </table>
</div>
{%include 'footer.html'%}
{%endblock content%}
